/*
 * Copilot Hider
 *
 * Here is a little stylesheet you can use to stop GitHub from forcing Copilot
 * down your throat every 10 seconds on GitHub.
 *
 * Simply have this enabled for all webpages served by GitHub using a stylesheet
 * injector like Stylus.
 */

/* Copilot actions in 'Add a comment' */
button[id^="copilot"],

/* Ask Copilot in code review, Copilot chat, Copilot button on top of age */
button[class*="Copilot"], button[data-testid="more-copilot-button"],

/* Any list element that isn't the "Code, planning, and automation" with a copilot logo or link (e.g. "Ask about this diff", "Your Copilot") */
li:not([data-view-component="true"]):has(svg.octicon-copilot),
li:not([data-view-component="true"]):has([href="/settings/copilot"]),

/* Copilot reviewer suggestion */
p:has(span[data-hovercard-type="copilot"]),

/* Copilot preview on the homepage */
.copilotPreview__container,

/* Copilot chat */
div.AppHeader-CopilotChat,

/* Copilot settings */
li.ActionListItem:has(a[href="/settings/copilot"])
{
    display: none !important
}
